<div class="dataViewListItem">
	<div class="dataViewMain" data-dojo-attach-point="dataViewMainNode">
		<div class="itemImageContainer" data-dojo-attach-point="imageContainerNode">
			<img class="itemImage" src="${image}">
		</div>
		<div class="itemInfoContainer" data-dojo-attach-point="itemInfoContainerNode">
			<div class="itemTitle">${title}</div>
			<div class="itemDetails">
				<div class="itemDetailsMain">${desc}</div>
				<div class="itemDetailsContent">${detail}</div>
			</div>
		</div>
		<div class="gotoItemInfoDetail" data-dojo-attach-event="ondijitclick:_onGotoDetailClick">
			Detail
		</div>
	</div>
	<div class="dataViewDetailDesc" data-dojo-attach-point="dataViewDetailDescNode" style="display:none">
		<div class="itemDetailDescHeader">Title:</div>
		<div class="itemDetailDescTitle">${title}</div>
		<div class="itemDetailDescHeader">Description:</div>
		<div class="itemDetailDescMain">${desc}</div>
		<div class="itemDetailDescHeader">Detail Information:</div>
		<div class="itemDetailDescContent">${detail}</div>
		<div class="gotoItemInfoMain" data-dojo-attach-event="ondijitclick:_onGotoMainClick">
			Main
		</div>
	</div>
</div>

